# Mise en place de la ré-écriture
Options +FollowSymLinks
RewriteEngine On

# Adresse de base de réécriture
RewriteBase /projet_festival

# Règles
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule (.*) index.php?request=$1 [QSA,L]