<footer class="h20vh">
    <div class="bgSub h80 dFlex justifyCC alignIC justifySA ">
        <div class="dFlex color0  alignCC flexDR  justifySA w1000">
            <div>
                <h5 class="fs14 bold ff0 dFlex justifyCC padB w333">ADRESSE</h5>
                <p class="fs14 ff0 txtc">31 Elsa Triolet </br>Dijon,21000 </p>
            </div>
            <div>
                    <h5 class="fs14 bold ff0 dFlex justifyCC padB w333">RÉSEAUX SOCIAUX</h5>
                    <div class="dFlex justifyCC ">
                            <div class="w35px h35px dFlex justifyCC alignIC borW mar"><i class="fab fa-facebook-f  pRS fs22"></i></div>
                            <div class="w35px h35px dFlex justifyCC alignIC borW mar"><i class="fab fa-twitter  pRS fs22"></i></div>
                            <div class="w35px h35px dFlex justifyCC alignIC borW mar"><i class="fab fa-linkedin  pRS fs22"></i></div>
                    </div>
                </div>
                <div class="w333">
                    <h5 class="fs14 bold ff0 dFlex justifyCC padB">FESTIFOLIE</h5>
                    <p class="fs14 ff0 txtc">Crae justo edio, drop albus dumbeldore in</br> fiesta de la tourista, vamos a la playa senor</br> zorro </p>
                </div>
            
        </div>
        

    </div>
    <div class="h20 bgC dFlex justifyCC alignIC">

        <p class="color0 ff0 fs14">Copyright © 2019 - FestiFolie - All Rights Reserved</p>

    </div>
</footer>
