<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/projet_festival/">
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="./assets/css/MarkerCluster.css">
        <link rel="stylesheet" href="./assets/css/MarkerCluster.default.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
                integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
                crossorigin=""/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin=""></script>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title 'Festifolie' %}</title>
    </head>
    <body>
        {% block nav %}{% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'Layout/footer.html.twig' %}
        
        {% block javascripts %}
            <!--JavaScript at end of body for optimized loading-->
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="assets/js/datepicker.js"></script>
            <script src="assets/js/jquery.delorean.ipsum.js"></script>
            <script src="assets/js/jquery.delorean.ipsum.min.js"></script>
            <script src="./assets/js/leaflet.markercluster.js"></script>
            <script src="./assets/js/script.js"></script>
        {% endblock %}

    </body>
</html>